@font-face {
    font-family: 'Poppins'; /*a name to be used later*/
    src: url('cv_starter/fonts/poppins.ttf'); /*URL to font*/
}
body {
    font-family: Poppins;
}
nav {
    background-color:teal;
    padding: 20px 0 20px 20px;
    color: white;
}
nav h1{
    display: inline;
    margin-right: 50px;
    font-size:large;
}
nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: small;
}
#profil {
    text-align: center;
    display: flex;
    padding: 40px 0;
}
#profil h2 {
    font-weight: 900;
    font-size: x-large;
    margin: 40px 0;
}
#profil img {
    border-radius: 50%;
}
.soustitre {
    font-weight: bold;
    color: teal;
}
.container {
    margin: auto;
    max-width: 800px;
    padding: 40px 0;
}
.formation {
    display: flex;
    justify-content: space-between;
    margin : 10px 0;
}
.teal {
    background-color: teal;
    color: white;
}
.teal h3{
    font-weight: bold;
    padding-bottom: 10px;
}
.teal ul {
    margin: 20px 0 0 30px;
}
.teal ul li {
    list-style-type: circle;
    margin: 5px 0;
}
.profession {
    display: flex;
    justify-content: space-between;
    margin : 20px 0;
    font-weight: bolder;
}
.details ul li{
    margin: 10px 0;
}
footer a {
    text-decoration: none;
    color: white
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 40px 20px;
    }
    #profil { 
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width: 600px) {
    .container {
        padding: 40px 20px;
    }
    #profil { 
        justify-content: space-evenly;
    }
}
@media only screen and (min-width: 2000px) {

}