@font-face {
    font-family: 'Poppins'; /*a name to be used later*/
    src: url('cv_starter/fonts/poppins.ttf'); /*URL to font*/
}
body {
    font-family: Poppins;
}
nav {
    max-width: auto;
    background-color:teal;
    padding: 20px 0 20px 20px;
    color: white;
}
nav h1{
    display: inline;
    margin-right: 50px;
    font-size:x-large;
}
nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: small;
}